<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Contact Us</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <h3>Location Information</h3>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
                    <fa-icon [icon]="faPhone"></fa-icon>: +852 1234 5678<br>
                    <fa-icon [icon]="faFax"></fa-icon>: +852 8765 4321<br>
                    <fa-icon [icon]="faEnvelopeS"></fa-icon>:
                    <a href="mailto:confusion@food.net">confusion@food.net</a>
                </address>
                <p></p>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><fa-icon [icon]="faPhone"></fa-icon> Call</a>
                    <a mat-raised-button><fa-icon [icon]="faSkype"></fa-icon> Skype</a>
                    <a mat-raised-button href="mailto:confusion@food.net"><fa-icon [icon]="faEnvelope"></fa-icon> Email</a>
                </div>
            </div>
            <div fxFlex="40">
                <h4>Map of our Location</h4>
            </div>
        </div>
    </div>

    <div fxFlex fxFlexOffset="20px" class="form-size">
        <h2>Send us your Feedback</h2>
        <p><code>{{ feedBackForm.value | json }} </code></p>
        <p><code>{{ feedBackForm.status | json }}</code></p>
        <p><code>{{ formStatus | json }}</code></p>

        <form novalidate
            [formGroup]="feedBackForm"
            #contactForm="ngForm"
            (ngSubmit)="submitFeedback()"
            *ngIf="! formStatus[ 'sent' ] && ! formStatus[ 'hasError' ] && ! formStatus[ 'dataSent' ]"
        >
            <p>
                <mat-form-field class="half-width">
                    <input matInput
                        formControlName="firstName"
               c         placeholder="First Name"
                        type="text"
                        required
                    >
                    <mat-error *ngIf="formErrors .firstName">
                        {{ formErrors.firstName }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput
                        formControlName="lastName"
                        placeholder="Last Name"
                        type="text"
                        required
                    >
                    <mat-error *ngIf="formErrors .lastName">
                        {{ formErrors .lastName }}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width">
                    <input matInput
                        formControlName="phoneNumber"
                        placeholder="Tel. Number"
                        type="tel"
                        required
                        pattern="[0-9]*"
                    >
                    <mat-error *ngIf="formErrors .phoneNumber">
                        {{ formErrors .phoneNumber }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput
                        formControlName="email"
                        placeholder="Email"
                        type="email"
                        required
                        email
                    >
                    <mat-error *ngIf="formErrors .email">
                        {{ formErrors .email }}
                    </mat-error>
                </mat-form-field>
            </p>
            <table class="form-size">
                <td>
                    <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                </td>
            <td>
                <mat-select placeholder="How?" formControlName="contactType">
                    <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                        {{ ctype }}
                    </mat-option>
                </mat-select>
            </td>
            </table>
            <p>
                <mat-form-field class="full-width">
                    <textarea matInput
                        formControlName="message"
                        placeholder="Your Feedback"
                        rows=12
                    ></textarea>
                </mat-form-field>
            </p>
            <button mat-button
                type="submit"
                [class]="( feedBackForm .invalid ? 'background-secondary text-secondary' : 'background-primary text-floral-white' )"
                [disabled]="feedBackForm .invalid"
            >Submit</button>
        </form>
    </div>
    <div fxFlex
         fxFlexOffset="20px"
         class="form-size"
         [hidden]="! formStatus[ 'sent' ] || formStatus[ 'hasError' ] || formStatus[ 'dataSent' ]"
    >
        <mat-spinner class="spinner"></mat-spinner>
        <h4 class="spinner-text">Sending...</h4>
    </div>
    <div fxFlex
         fxFlexOffset="20px"
         class="form-size"
         *ngIf="formStatus[ 'sent' ] && formStatus[ 'hasError' ] && formStatus[ 'errorMessage' ]"
    >
        <h2 class="error">Error</h2>
        <p class="error-text">{{ formStatus[ 'errorMessage' ] }}</p>
    </div>
    <div fxFlex
        fxFlexOffset="20px"
        class="form-size"
        *ngIf="formStatus[ 'dataSent' ]"
    >
      <h2>Your Submission</h2>

      <p><b>First Name: </b>{{ formStatus[ 'dataSent' ][ 'firstName' ] }}</p>
      <p><b>Last Name: </b>{{ formStatus[ 'dataSent' ][ 'lastName' ] }}</p>
      <p><b>Tel. Number: </b>{{ formStatus[ 'dataSent' ][ 'phoneNumber' ] }}</p>
      <p><b>Email: </b>{{ formStatus[ 'dataSent' ][ 'email' ] }}</p>
      <p><b>Contact you: </b>{{ formStatus[ 'dataSent' ][ 'agree' ] }}</p>
      <p><b>How? </b>{{ formStatus[ 'dataSent' ][ 'contactType' ] }}</p>
      <p><b>Feedback: </b>{{ formStatus[ 'dataSent' ][ 'message' ] }}</p>
    </div>

</div>
